$(document).ready(function(){

  function clickSubmit() {
    $('.submit-btn').click();
  };

  function insertMovie (html, movieImage, movieId, releaseDate) {
    $('input.name').val(movieId);
    $('input.picture').val(movieImage);
    $('input.year').val(releaseDate);
    $('input.name').change(clickSubmit());
  };

  $('#select-movie-mobile').selectize({
      maxItems: '1',
      valueField: 'title',
      labelField: 'title',
      searchField: 'title',
      options: [],
      onItemAdd: function(value, $item){
        // $('')
      },
      create: false,
      render: {

          item: function (item, escape) {

            if (item.poster_path) {
              var html = "<img src='https://image.tmdb.org/t/p/w185" + item.poster_path + "' />"
            }

            var movieImage = item.poster_path;
            var movieId = item.title;
            var releaseDate = item.release_date;

            insertMovie(html, movieImage, movieId, releaseDate);

          },
          option: function(item, escape) {

              if (item.poster_path) {
                return "<div class='movie'>" +
                    "<img src='https://image.tmdb.org/t/p/w92" + escape(item.poster_path) + "' />" +
                    '<div class="title">' +
                         escape(item.title) + "<span class='year'> (" + escape(item.release_date.substring(0,4)) + ")</span>" +
                    "</div>" +
                '</div>';
              } else {
                return "<div class='movie'>" + "<div class='image'></div>" + '<div class="title">' +
                   escape(item.title) + "<span class='year'> (" + escape(item.release_date.substring(0,4)) + ")</span>" +
                "</div>" + '</div>';
              }
          }
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: 'https://api.themoviedb.org/3/search/movie',
              type: 'GET',
              dataType: 'jsonp',
              data: {
                query: query, // search term
                api_key: "41955a0f09fdcad5028264d83e9c9af6",
              },
              error: function() {
                  callback();
              },
              success: function(res) {
                  callback(res.results);
              }
          });
      }
  });

});
