$(document).ready(function(){

    function clickSubmit() {
      $('.submit-btn').click();
    }

    function insertBook (bookImage, bookAuthors, bookTitle, published) {
      $('input.name').val(bookTitle);
      $('input.picture').val(bookImage);
      $('input.year').val(published);
      $('input.author').val(bookAuthors);
      $('input.author').on('change',clickSubmit());

    }

    function fooCallback(json) {
        return json;
    }

  $('#select-book-mobile').selectize({
      maxItems: '1',
      valueField: "id",
      labelField: "title",
      searchField: ["title","authors"],
      options: [],
      create: false,
      render: {

          item: function (item, escape) {

            var bookAuthors = item.authors[0];
            var bookTitle = item.title;
            var bookImage = item.thumbnail;
            var published = item.published;

            var test = [bookAuthors, bookTitle, bookImage, published]

            console.log(item.authors[0], item.title, item.thumbnail, item.published);
            insertBook (bookImage, bookAuthors, bookTitle, published);

          },

          option: function(item, escape) {

              if (item.thumbnail !== undefined) {
                var markup = "<div class='movie'>" +
                    "<img src='" + escape(item.thumbnail) + "' />" +
                    '<div class="title"><strong>' +
                         escape(item.title) +
                    "</strong><div class='author'>" + escape(item.authors) + "</div>" + "</div>" +
                '</div>';
              } else {
                var markup = "<div class='movie'>" + "<div class='image'></div>" + '<div class="title">' +
                    '<span class="name">' + escape(item.title) + '</span>' +
                "</div>" + '</div>';
              }
          return markup;
        }
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: "https://www.googleapis.com/books/v1/volumes",
              type: 'GET',
              dataType: 'json',
              jsonp: "callback",
              data: {
                q: query, // search term
                maxResults: 40,
                page_limit: 10,
                key: "AIzaSyCALnnPrGEdIXTlhFvgA5BSFDL6D2VfzNY"
              },
              error: function() {
                  callback();
              },
              success: function(res) {
                var theJson = {};
                theJson = res;
                callback(theJson.items.map(function(item){
                  if (item.volumeInfo.imageLinks) {
                    return {
                      id: item.id,
                      title: item.volumeInfo.title,
                      authors: item.volumeInfo.authors,
                      thumbnail: item.volumeInfo.imageLinks.smallThumbnail || "none",
                      published: item.volumeInfo.publishedDate
                    }
                  } else {
                    return {
                      id: item.id,
                      title: item.volumeInfo.title,
                      authors: item.volumeInfo.authors,
                      thumbnail: "none",
                      published: item.volumeInfo.publishedDate
                    }
                  }
                }));
              }
          });
      }
  });

});
