$(document).ready(function(){

    function clickSubmit() {
      $('.submit-btn').click();
    }
    function insertSong (html, songImage, songTitle, songArtist) {
      $('input.name').val(songTitle);
      $('input.picture').val(songImage);
      $('input.artist').val(songArtist);
      $('input.name').change(clickSubmit());
    }

  $('#select-song-mobile').selectize({
      maxItems: '1',
      valueField: 'trackName',
      labelField: 'trackName',
      searchField: 'trackName',
      options: [],
      onItemAdd: function(value, $item){
        // $('')
      },
      create: false,
      render: {

          item: function (song, escape) {

            if (song.artworkUrl100) {
              var biggerImage = song.artworkUrl100.replace("100x100", "225x225");
              var html = "<img src='" + biggerImage + "'>";
              var songImage = biggerImage;
            }

            var songTitle = song.trackName;
            var songArtist = song.artistName;

            insertSong(html, songImage, songTitle, songArtist);

          },
          option: function(item, escape) {
              if (item.artworkUrl100) {
                return "<div class='movie'>" +
                    "<img src='" + escape(item.artworkUrl100) + "' />" +
                    '<div class="title">' +
                         escape(item.trackName) +
                    "</div>" +
                '</div>';
              } else {
                return "<div class='movie'>" + "<div class='image'></div>" + '<div class="title">' +
                    '<span class="name">' + escape(item.trackName) + '</span>' +
                "</div>" + '</div>';
              }
          }
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: "https://itunes.apple.com/search",
              type: 'GET',
              dataType: 'jsonp',
              data: {
                term: query, // search term
              },
              error: function() {
                  callback();
              },
              success: function(res) {
                var select2Data = $.map(res.results, function (obj) {
                                    obj.id = obj.trackId;
                                    obj.text = obj.trackName;
                                    return obj;
                });
                callback(select2Data)
              }
          });
      }
  });

});
