$(document).ready(function(){

  function insertMovie (html, movieImage, movieId, releaseDate, movieOverview) {
    $('.select2-container--open').siblings('.box').html(html);
    $('.select2-container--open').siblings('input').first().val(movieId);
    $('.select2-container--open').siblings('input').first().next().val(movieImage);
    $('.select2-container--open').siblings('input').first().next().next().val(releaseDate);
    $('.select2-container--open').siblings('input').first().next().next().next().val(movieOverview);
  }

  function formatMovie (movie) {

    if (movie.poster_path) {
      var markup = "<div class='select2-result-thing clearfix'>" +
        "<div class='select2-result-thing__poster'><img src='https://image.tmdb.org/t/p/w92" + movie.poster_path + "' /></div>" +
        "<div class='select2-result-thing__meta'>" +
          "<div class='select2-result-thing__title'>" + movie.title + "</div>";
    } else if (movie.title) {
      var markup = "<div class='select2-result-thing clearfix'>" +
        "<div class='select2-result-thing__poster'><img src='" + "<%= image_path('filmfill.jpg') %>" + "' /></div>" +
        "<div class='select2-result-thing__meta'>" +
          "<div class='select2-result-thing__title'>" + movie.title + "</div>";
    } else {
      return " ";
    }

    if (movie.tagline) {
      markup += "<div class='select2-result-movie__description'>" + movie.tagline + "</div>";
    }
    if (movie.primary_release_year) {
      markup += "<div class='select2-result-movie__year'>" + movie.year + "</div>";
    }
    // console.log(movie.imdb_id);
    return markup;
    }

  function formatMovieSelection (movie) {
    if (movie.poster_path) {
      var html = "<img src='https://image.tmdb.org/t/p/w185" + movie.poster_path + "' />"
    }

    var movieImage = movie.poster_path;
    var movieId = movie.title;
    var movieOverview = movie.overview;
    var releaseDate = movie.release_date;
    insertMovie(html, movieImage, movieId, releaseDate, movieOverview);
    return movie.title;
    if (movie.title !== 'undefined') {
      return movie.title;
    } else { return "" }
  }



  $(".select-movie").select2({
    placeholder: "What's your #1 movie?",
    ajax: {
      url: "https://api.themoviedb.org/3/search/movie",
      dataType: 'jsonp',
      delay: 250,
      // inputTooShort: false,
      data: function (params) {
        return {
          query: params.term, // search term
          api_key: "41955a0f09fdcad5028264d83e9c9af6",
        };
      },
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;

        return {
          results: data.results,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: true
    },
    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    formatInputTooShort: false,
    templateResult: formatMovie,
    templateSelection: formatMovieSelection,
  });

});
