// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  width: 25%;
  height: 190px;
  background-color: lightgray;
  overflow: hidden;
  padding: 0;
  margin: 0;


  // background-color: black;
  img {
    width:100%;
    min-height: 100%;
  }
}


//
// .new_movie {
//   float: right;
// }
//
// #movie_name {
//   // display: none;
// }
//
// .movie-form {
//
//   .select2-selection {
//     // height: 200px;
//   }
//
//   .select2-dropdown {
//     width:185px;
//     border: none;
//     border-radius: none;
//     background-color: transparent;
//   }
//
//   .select2-search {
//     margin-top: -30px;
//     border: none;
//   }
//
//   .select2-container--default .select2-search--dropdown .select2-search__field {
//     border: none;
//   }
//
//   .select2-container--default {
//     // border-bottom: 1px solid #aaa;
//   }
//
//   .select2-selection.select2-selection--single {
//     border: none;
//     background-color: transparent;
//     border-radius: 0px;
//   }
//
//   select {
//     width: 185px;
//   }
//
// }


//*********
// .select2-selection {
//   height: 200px;
// }
//
.select2-dropdown {
  // width:400px;
  // border: none;
  // border-radius: none;
  // background-color: transparent;
  // left: -3px !important;
  z-index: 100;
}
//
// .select2-search {
//   margin-top: -30px;
//   border: none;
// }
//
// .select2-container--default .select2-search--dropdown .select2-search__field {
//   border: none;
// }
//
// .select2-container--default {
//   // border-bottom: 1px solid #aaa;
// }
//
// .select2-selection.select2-selection--single {
//   border: none;
//   background-color: transparent;
//   border-radius: 0px;
// }
//
//
select {
  img{width: 100px;}
}

.new_list {
  width: 100%;
}

.movie-form {
  width: 100%;
  .item-overview {
    opacity: 0;
    color: black;
    font-weight: 200;
    transition: all 1s;
  }
}

.movie-form:hover {
  .item-overview {
    opacity: 1.0;

  }
}

.new_movie {
  float: right;
  width: 70%;
}

// .selection {
//   img {width: 100px;}
// }

.select2-result-thing__poster {
  float: left;
  img {
  width: 92px;}
}

.select2-result-thing__meta {
  float: left;
  max-width: 60%;
  padding: 0px 5px;
  .select2-result-thing__title {
    font-weight:600;
  }
  .select2-result-thing__artist {
    font-weight: 300;
  }
}

.select2 {
  width: 70% !important;
  float: right;
}

.select2-result-thing__description {

}
