// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-wrapper {
  width: 80%;
  .product-picture{
    width: 60%;
    img {width:100%;}
  }
}

.verified-stamp {
  height: 22px;
  width: 22px;
  margin: 0px 5px;
  display: inline-block;
  img {
    height: 100%;
    margin-top: -5px;
    width: 100%;
  }
}

.tooltip-inner {
  background-color: #707070 !important;
}

.profile-container {
  width: 600px;
  margin: 0 auto;
}

.edit-it a:hover {
  color: white;
}

.tooltip-arrow {
  border-bottom-color: #707070 !important;
}

.share-it a:hover {
  color:white;
}
.share-it {
  cursor: pointer;
}

.item-info{
  width:70% !important;
  float: right;
  .item-title {
    font-weight: 600;
  }

}

.text-image {
  width:75px;
  overflow:hidden;
  img {width:100%;}
}

.song-image {
  width:120px;
  height:120px;
  overflow: hidden;
  background-color: lightgray;
  img {
    width:100%;

  }
}

.enter-new-movie {
  width: 500px;
  float: right;
}

.text-item {
  padding-left: 10%;
}

.rank {
  color: #cdcdcd;
  font-style: italic
}


.content {
  width: 100%;
}


.celeb-icon {
  padding-right: 15px;
  // width: 100px;
}

.socials {
  i {font-size: 1em; padding: .5em;}
}

.fa-long-arrow-right {
  color: #D93010;
  margin-right: 10px;
}

.header-content {
  // width: 30%;
  img {
    width: 99%;
  }
  padding: 0px 30px;
  text-align: center;
  h3 {
    input {
      text-align: center;
      line-height: 40px;
      width: 80%;
      border: none;
      // border-bottom: 1px solid black;
      // border-top: none;
      // border-right: none;
      // border-left: none;
    }
  }
  h6 {
    input {
      width: 80%;
      border: none;
      text-align: center;
    }
  }

}

.categories {
  text-align: center;
  height: 40px;
  border-bottom: 1px solid lightgray;
  // margin-bottom: 20px;
  color: gray;
  .category {
    font-weight: 600;
    height: 43px;
    display: inline-block;
    cursor: pointer;
    // padding: 0px 30px;
  }
  .slick-current {
    border-bottom: 4px solid black;
    color: black;
  }

}



// .select2-result-movie__poster {
//   width: 20%;
//   img {width:100%;}
//   float: left;
// }

// .select2-result-movie__meta {
//   display: inline-block;
//   float: left;
//   padding: 0px 10px;
//   max-width: 75%;
// }
//
// .select2-selection {
//   height: 200px;
// }
//
// .select2-dropdown {
//   width:185px;
//   border: none;
//   border-radius: none;
//   background-color: transparent;
// }
//
// .select2-search {
//   margin-top: -30px;
//   border: none;
// }
//
// .select2-container--default .select2-search--dropdown .select2-search__field {
//   border: none;
// }
//
// .select2-container--default {
//   // border-bottom: 1px solid #aaa;
// }
//
// .select2-selection.select2-selection--single {
//   border: none;
//   background-color: transparent;
//   border-radius: 0px;
// }
//
//
// select {
//   width: 185px;
// }
//
//
//


  .beneath-nav {
    margin-top: 0px;
  }

  .header {
    position: -webkit-sticky;
    padding-top: 70px;
    // background-color: black;
  }

  .simplists {
    padding-left: 0em;
    padding-right: 0;
    h1 {
      font-family: 'jayadhira';
      padding: 0px 40px 0px 20px;
      margin: 0;
      width: 90px;
    }
    .simplist {
      border-bottom: 1px solid whitesmoke ;
      padding: 50px 0px;
      // min-height:300px;
      .quote{
        .quote-text{font-weight:100;
          font-size: 30px;
          width:500px;
          textarea {
            width: 100%;
            height: 150px;
            border: 1px solid lightgray;
            padding: 0.5em;
            &:-webkit-input-placeholder {
               font-style: italic;
            }

            &:-moz-placeholder { /* Firefox 18- */
               font-style:italic;
            }

            &:-moz-placeholder {  /* Firefox 19+ */
              font-style:italic;
            }

            &:-ms-input-placeholder {
              font-style:italic;
            }
          }
        }
        .quote-author {
          font-size:20px;
          font-weight: 600;
          input {
            padding: 0 0.5em ;
          }
        }
      }
    }

    .song-simplist {
      min-height: 200px;
      .simplist-image {
        width: 120px;
        margin-right: 30px;
      }
      .song-info {
        .song-title {
          font-weight: 600;
        }
      }
    }

    .book-simplist {
      .simplist-image {
        width: 120px;
        margin-right: 30px;
      }
      .book-info {
        .book-title {
          font-weight: 600;
        }
      }
    }
  }


// BELOW: CODE FOR THE EDIT/NEW PAGE
.edit-banner {
  background-color: black;
  height: 30px;
  color: white;
  text-align: center;
  width:100%;
  line-height: 30px;
  a:hover {color: white;}
}

.blank-image {
  border-radius: 50% !important;
  overflow: hidden;
  background-color: lightgray;
  height: 110px;
  width: 110px;
  margin: 0 auto;
  font-size: 60px;
  color: white;
  position: relative;
  .plus-sign {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
