// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-item {
  padding-left: 10%;
}



  .beneath-nav {
    margin-top: 100px
  }

  .content {
    width: 100%;
  }

  #main-nav {
    color: #cdcdcd;
    a {color: #cdcdcd;}
  }

  .celeb-icon {
    padding-right: 15px;
    // width: 100px;
  }

  .socials {
    i {font-size: 1em; padding: .5em;}
  }

  .fa-long-arrow-right {
    color: #D93010;
    margin-right: 10px;
  }

  .sidebar-content {
    width: 70%;
    img {
      width: 65%;
    }
  }

@media (min-width:995px) {
  .sidebar-content {
    width: 70%;
    img {
      width: 80%;
    }
  }
}

.select2-result-movie__poster {
  width: 20%;
  img {width:100%;}
  float: left;
}

.select2-result-movie__meta {
  display: inline-block;
  float: left;
  padding: 0px 10px;
  max-width: 75%;
}

.select2-selection {
  height: 200px;
}

@media (min-width: 992px)  {

  .beneath-nav {
    margin-top: 0px;
  }

  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    border-right: .75px #dddddd solid;
    padding-top: 120px;
    // background-color: black;
    height: 100%;
  }

  .simplists {
    padding-left: 0em;
    padding-top: 100px;
    padding-right: 0;
  }

}
