
// iphone5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {


    .list-description {
      font-size: 50px;
    }

    .movie-form:hover {
      .item-overview {
        display: none !important;
      }
    }


    .edit_quote {
      height: 1320px;
      width: 100%;
      .content {
        font-size: 80px;
        font-weight: 200;
        height: 90%;
        border: none !important;
        -webkit-appearance: none !important;
        padding: 20px;
      }
      .source {
        font-size: 60px;
        background-color: whitesmoke;
        width: 100%;
        border: none !important;
        padding: 25px 20px;
      }
    }
    .submit-quote {
      width: 100%;
      background-color: black;
      color: white;
      padding: 45px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }


    .submit-btn {
      cursor: pointer !important;
    }

    .verified-stamp {
      height: 50px !important;
      width: 50px !important;
    }

    .product-wrapper {
      font-size: 3em;
      .product-picture img {max-height: 500px;}
    }

    .movie-add-mobile {
      font-size: 45px;

      i.fa.fa-search {
        position: absolute;
        bottom: -120px;
        left: 30px;
        font-size: 75px;
        z-index: 1000;
        color: lightgray;
      }
      .selected-title {
        background: none !important;
        font-size: 1.5em !important;
        line-height: 2em !important;
      }
      .selectize-input:after {
        content: '' !important;
      }
      .selectize-input.items.not-full:after {
        content: '' !important;
      }
      .selectize-dropdown-content {
        max-height: none !important;
        font-size: 45px;
        .movie {
          padding: 1em;
          .image {
            width: 25%;
            height: 300px;
            background-color: gray;
            display: inline-block;
            margin-right: 50px;
          }
          .title {
            display: inline-block;
            vertical-align: top;
            width: 60%;
            line-height: 1.5em;
            .name {margin: 0 auto !important;
            }
          }

          img {
            width: 25%;
            display:inline-block;
            margin-right: 50px;
          }
        }
      }
      .selectize-input {
        height: 150px !important;
        font-size: 1em;
        padding-left: 120px !important;
        box-shadow: none !important;
        border-color: #ffffff !important;
        background-color: #ffffff !important;
        background-image: none !important;
        input {
          font-size: 1.5em;
          color: darkgray;
          vertical-align: middle;
          line-height: 2em !important;
        }
        .selectize-dropdown {
          height: 500px !important;
        }




      }

      .header {
        position: relative;
        font-size: 1em;
        background-color: whitesmoke;
        height: 150px;
        font-weight: 200;
        padding: 1em;
        .close {
          img {width: 60px;}
        }
      }

      .search-box {
        // height: 500px;
        width: 100% !important;
        border-bottom: 1px solid gray;
      }
    }

    .view-public-profile {a {font-size: 50px !important;} }

    .profile-edit {

      .plus-sign {
        font-size: 150px !important;
        width: 150px !important;
      }

      .header-content h3 input {
        line-height: 100px !important;
      }

      .update-existing {
        padding: 100px 0px !important;
        display: block !important;
        // border-bottom: 1px solid lightgray !important;

        .btn-add {
          width: 85%;
          margin-top: 1em;
        }
      }

      .simplist {
        display: none !important;
      }
      .simplist-mobile {
        display: block !important;
      }
      .btn-add {
        border: 1px solid gray;
        border-radius: 20px !important;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 50px;
        margin-top: 30px;
        text-align: center;
        padding: 15px;
      }
      .enter-new-movie-mobile {
        font-size: 70px;
        font-weight: 200;
        color: gray;
        width:700px;
        margin: 0 auto;
        text-align: center;
        height: 500px;
        // border-bottom: 1px solid lightgray !important;
      }
    }



    .logo-header {
      img {display: none !important}
      .tagline {
        margin-top: 3.5em !important;
        margin-bottom: 3.5em !important;
        font-size: 4em;
        width: 70% !important;
      }
    }

    .login-container {
      // font-size: 2em;
    }


    .new_user {
      // font-size: 2.5em !important;
      margin-top: 2em !important;
      .remember-me {display: none !important}
      .btn {
        width: 100% !important;
        height: 120px !important;
        font-size: 3em !important;
        margin-bottom: 200px !important;
      }
    }
    .custom-form-control, .username-field {
      height: 120px !important;
      font-size: 3em !important;
    }

    .custom-form-control {
      border: 1px solid #ccc !important;
      -webkit-appearance: none;
      box-shadow: none !important;
    }

    .small-span-form-control {
      width: 640px !important;
      height: 120px !important;
      font-size: 1em !important;
      -webkit-appearance: none;
      box-shadow: none !important;
    }

    .submit-form {
      box-shadow: none !important;
      -webkit-appearance: none;
    }

    .custom-form-control:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }


    .profile-container{
      width:100% !important;
      i.fa {
        display: none !important;
      }
    }

    .more-margin{
      margin-top: 550px !important;
    }

    .blank-image {
      height: 200px;
      width: 200px;
    }

    .enter-new-movie {
      width: 800px;
      // height: 550px;
      font-size: 2.75em !important;
      .box {width: 30%; height: 350px;}
    }

    .item-info{
      width: 60% !important;
    }

    h1 { font-size: 8em !important}

    h2 { font-size: 5em !important}

    h3 {
      font-size: 5em !important
    }

    h6 {
      font-size: 3em !important;
    }

    .category {
      font-size: 3em !important;
      height:103px !important;
    }
    .categories {
      margin-top: 150px !important;
      height: 100px !important;
    }

    .category.slick-current {
      border-bottom-width: 8px !important;
    }

    .quote-text {
      font-size: 90px !important;
      width: 850px !important;
      padding-left: 50px !important;
      textarea {
        height: 450px !important;
      }
    }

    .quote-author {
      font-size: 40px !important;
      padding-left: 50px !important;
    }

    .song-image {
      width: 250px !important;
      height: 250px !important;
    }

    #main-nav {
      display: none !important;
    }

    .simplist {
      padding: 100px 0px !important;
    }

    .navbar-header {display: none !important}

    .responsive-dropdown {
      width:100%;
      background-color: white;;
      // height: 350px;

      .explore-link, .edit-link, .profile-link, .logout-link, .login-link {
        color:white;
        padding: 30px;
        border-bottom: 1px solid lightgray;
        font-size:5em;
        text-align: center;
        font-weight: bold;
      }

    }


    .navbar-fixed-top {
      position: inherit !important;
    }

    .select2 {
      width: 100% !important;
      margin-top: 50px;
    }

  .select2-selection__rendered {
    height: 100px;
  }

  .select2-container--default .select2-selection--single {
    height: 100px !important;
    font-size: 2em;
    line-height:2em;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #444;
      line-height: 100px;
    }

    .edit_list {
      .clearfix {
        margin-bottom: 50px;
      }
    }

    .select2-search .select2-search--dropdown {
      padding: 10px;
      font-size:2em !important;
    }

    .select2-search__field {
      height:90px !important;
      font-size:2em !important;
    }

    .select2-results {
      background-color: white !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
      max-height: 500px;
      overflow-y: auto;
      font-size: 2em;
    }

    .select2-result-thing__poster img {
      width: 150px;
      margin-right: 20px;
    }

    .box-edit {
      width: 40% !important;
      height: 450px !important;
    }

  .select2-dropdown {
    height: 100px !important;
    font-size: 2em;
  }



    .edit-banner {display: none !important}

    .beneath-nav {
      margin-top: 0px !important;
    }

    .fa-navicon {
      position: absolute;
      top: 10px;
      left: 10px;
      color: black;
      font-size: 100px;
    }

    .logo-iphone {
      text-align: center;
      display: block;
      position:relative;
      margin: 0 auto !important;
      float: none;
      padding: 60px !important;
      height: 200px !important;
      width: 100% !important;
      img{margin-left: 80px; width:50% !important}
    }

    .explore-header {
      font-family: "Source Sans Pro" !important;
      text-transform: lowercase;
      color: lightgray;
      letter-spacing: 5px;
      font-size: 1em;
      margin-bottom: 0.5em;
    }

    .profile-card {
      height: 200px !important;
      margin-bottom: 1em;
      text-align: left !important;
      border-bottom: 1px solid whitesmoke;
      .profile-info, .blank-image {
        float: left !important;
      }

      .profile-info {
        margin: 0 0 0 3em !important ;
      }
    }




    .profile-description {
      max-width: 680px !important;
      font-size: 2.75em !important;
      font-weight: 400 !important;
      line-height: 1em !important;
    }

    .profile-name {
      font-size: 3em !important;
      line-height: 1em !important;
    }



  }
