.logo-iphone { display: none}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #main-nav {
    display: none !important;
  }

  .navbar-header {display: none !important}

  .responsive-dropdown {
    width:100%;
    background-color: black;
    // height: 350px;
    position: absolute;
    top: 200px;
    left: 0px;
    .explore-link, .profile-link {
      color:white;
      padding: 30px;
      border-bottom: 1px solid gray;
      font-size:5em;
      text-align: center;
      font-weight: bold;
    }

  }

  .edit-banner {display: none !important}

  .beneath-nav {
    margin-top: 550px !important;
  }

  .logo-iphone {
    display: block;
    position:relative;
    margin: 0 auto !important;
    float: none;
    padding: 60px !important;
    height: 200px !important;
    width: 100% !important;
    img{width:50% !important}
  }
}
