.about-page.profile-container
  %h3.about
    %center
      ABOUT
  .top-buffer
  .about-content
    everyday, we interact with a flood of content, but
    %br
    %br
    %strong
      what do we care about the most?
      %br
      what has left an impression on our lives?
    %br
    %br
    we built simplist as a platform to save and share only your
    %strong top ten favorite things
    to encourage more meaningful interactions both online and offline.
  .signature
    yours,
    %br
    .diane.pull-left
      .sig diane
      .info
        = link_to "diane", "http://mysimplist.com/diane"
        %br
        = link_to "@moderntechbitch", "http://www.twitter.com/moderntechbitch"
    .april.pull-right
      .sig april
      .info
        = link_to "april", "http://mysimplist.com/april"
        %br
        = link_to "@aprilkoh_", "http://www.twitter.com/aprilkoh_"
    .clearfix
    .top-buffer
    .email-us
      Email us at
      =link_to "contact@mysimplist.com", "mailto:contact@mysimplist.com"
